body {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

input {
  font-size: 14px;
  width: 300px;
}

.graphs {
  margin: 20px;
  border: 1px solid #ccc;
}

/* Hide axis lines*/
svg .nv-axis .tick line{
  /*display: none;*/
}
