body {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

input {
  font-size: 14px;
  width: 300px;
}

a {
  color: #2f6f9f;
}

/* Keep issue numbers out of container */
#graphs .stackedArea{
  margin-right: -20px;
}

/* Hide line between stackedArea and values */
svg .nv-axis .domain{
  display: none;
}

/* Hide axis lines*/
svg .nv-axis .tick line{
  /*display: none;*/
}

/* Description lead list */
.lead-list{
  font-weight: 300;
  font-size: 14px;
}

@media (min-width: 768px) {
  .lead-list{
    font-size: 18px;
  }
}

/* Header sizes */
.bs-docs-header {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 28px;
    padding-bottom: 40px;
  }
}

/* Repository input form */
#repository-form .height-placeholder{
  height: 10px;
}

#graphs {
  display: none;
}

/* Progress bar */
#progress {
  margin: 20px 0;
  display: none;
}

/* Alert */
.alert {
  margin-bottom: 0;
}
